
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DEMO CHATBOX</title>
    <link rel="stylesheet" href="layout.css">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/konva/2.2.1/konva.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="xuly.js"></script>
    


</head>
<body>
    <div class="wrapper">
        <div class="loginForm">
            <h3>Your name </h3>
            <input type="text" id="txtUsername">
            <input type="button" id="btnRegister" value="Register">
        </div>
        <div class="chatForm">
            <div id="left">
                <div id="boxTittle"><h3>User Online</h3><button id='challengeButton' >Challenge</button></div>
                <div id="boxContent">
                

                    
                </div>
            </div>
            <div id="middle">
                <div id="container">
            
                </div>
            </div>
            <div id="right">
                <div id="sayHi">
                    Hello <span id="currentUser">Teo</span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>
                <div id="listMessage">

                </div>

                <input type="text" id="txtMessage">    
                <input type="button" id="btnSend" value="Send">
            </div>
        </div>
    </div>
</body>
</html>