* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(206, 202, 202, 0.55);
}
#wrap {
    width: 80%;
    margin: auto;
}
table {
    width: 100%;
    
}
td,th,table {
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.68);
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2em;
   
}

th#image {
    width: 50px;
}
caption {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 2em;
    font-family: 'Caveat', cursive;
    
}

th {
    
    font-family: 'Cantarell', sans-serif;
    text-transform: capitalize;
    position: relative;
    width: 150px;
    background-color: rgba(148, 179, 245, 0.94);
    
}

tr:nth-child(even) {
    background-color: rgba(206, 202, 202, 0.55);
}
tr:nth-child(odd) {
    background-color: #726f6f6b;
}
#img-up {
    position: absolute;
    top: 3px;
    right: 3px;

}
#img-down {
    position: absolute;
    top: 21px;
    right: 3px;

}

.img-cell {
    border-radius: 50%;
}
.email {
    color: rgba(17, 0, 255, 0.797);
    font-style: italic;
}

.row:hover {
    background-color: rgba(159, 198, 244, 0.447);
}
th:hover {
    cursor: pointer;
}
td {
    font-family: 'Neucha', cursive;
    
}